allow system_app mdnie_sysfs:file { write };
allow system_app vib_sysfs:file { write };
allow system_app log_device:chr_file { open write };
allow system_app sysfs_display:{ file lnk_file } { getattr open read write };
allow system_app sysfs_display:dir { search };
